*
{
    margin:auto;
    padding:auto;
}
#header
{
    background-color:#f8d8d9;
    height:100px;
    width:100%;
}
#brand
{
    float:left;
}
#brand>h1
{
    color:#ad69b0;
    padding-left:4%;
    padding-top:-1%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#brand>p
{
    color:#783547;
    padding-left:4%;
    margin-top:-5%;
    font-weight:bold; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#left
{
    float:right;
    height:80px;
    width:20%;
    margin-top:1%;   
}
#Icon
{
    width:30%;
    display:inline-block;
    
}
#Icon > a
{
    color:#bd2d45;
}
#tile
{
    width:100%;
    height:500px;
    
}
#promote
{
    text-align:center;
    text-decoration: underline;
    text-decoration-color:#501710;
    margin-top:40px;
    font-weight:bold;
}
#item
{
    margin-top:20px;
    height:330px;
    width:280px;
    
}
#DivImg>img
{
    width:100%;
    height:200px;
}
#QuickSearch
{
    width:100%;
    display:inline-block;
    padding-left:1%;
}
#content
{
    width:260px;
    height:250px; 
    float:left;
    margin-top:2%;
    margin-left:2%;
}
#DivImage, #DivImg
{
    width:80%;
    height:200px;  
}
#DivImage > img
{
    width:100%;
    height:200px;
    border-radius:50%;
}
#DivDetail
{
    width:100%;
    height:160px;
    margin-top:1%;
    text-align: center;
    
}
#DivDetail>a
{
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
}
#review
{
    width:100%;
    height:550px;
    background-color:#e57a7a;
}
#tile1
{
    text-align:center;
    color:rgb(176, 12, 86);
    padding-top:12px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.desc
{
    width:95%;
    margin-left:4%; 
    padding-left:2%; 
    padding-top:10%; 
    margin-top:1%;
    height:400px;
    display:inline-block;
    background-color: pink;
}
#cardImg
{
    width:225px;
    height:225px;
}
#information
{
    height:150px;
    margin-top:4%;
}
#promotion
{
    margin-left:3%;
    height:100%;
    width:30%;
    float:left;
    margin-top:1%;
    text-align:center; 
}
#payment
{
    height:150px;
    width:100%;
}
#option
{
    height:150px;
    width:24.5%;
    float:left;
    margin-left:0.5%;
    padding-left:0.1%; 
    text-align:center;
}
.footer
{
    height:250px;
    width:100%;
    text-align:center;
    background-color:#cc7c58;
}
#footer
{
    font-weight:bold;
    font-size:20px;
    padding-top: 1%;
}
#footDiv
{
    float:left;
    width:25%;
}          
            