*
{
    margin:auto;
    padding:auto;
}
#header
{
    background-color:#f8d8d9;
    height:100px;
    width:100%;
}
#brand
{
    float:left;
}
#brand>h1
{
    color:#ad69b0;
    padding-left:4%;
    padding-top:-1%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
}
#brand>p
{
    color:#ab4f68;
    padding-left:4%;
    margin-top:-5%;
    font-weight:bold; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#search>input
{
    width:20%;
    height:40px;
    display:inline-block;
    margin-left:4%;
    margin-top:2%;
    border:none;
    font-size:20px;
    border-radius:5px;
}
#left
{
    margin-top:-3%;
    height:80px;
    width:25%;
    margin-left:75%;   
}
#Icon
{
    width:32%;
    display:inline-block;    
}
#Icon > a
{
    color:#bd2d45;
}
#coupon
{
    height:500px;
    width:60%;
    background-color:#C0C0C0;
    z-index:100;
    top:10%;
    opacity:0.95;
    margin-left:20%;
    border: 3px dashed black;
    position:fixed;
    border-radius:10px;  
}
#couponHeading
{
    text-align:center;
    color:yellow;
    font-weight: bold;
}
#coupon>p
{
    text-align:center;
    color:white;
    font-size:25px;
    font-weight: bold;
    line-height:0.5;
}
#offer
{
    height:350px;
    width:85%;
}
#offerImg
{
    width:50%;
    height:325px;
    float:left;
    margin-top:5px;
}
#ImgStyle
{
    width:100%;
    height:100%;
}
#offerDetail
{
    width:50%;
    height:350px;
    margin-left:50%;
    padding-left:5%;
}
#offerButton
{
    margin-top:-10px;
    margin-left:45%;
}
#banner
{
    height:50px;
    width:100%;
    background-color:#abe9d9;
    margin-bottom:10px;
    margin-top:10px;
}
#links
{
    width:70%;
    height:100%;
    float:left;
    padding-top:7px;
}
#linkStyle
{
    color:black;
    margin-left:30px;
    font-size:25px;
}
#IconTheme
{
    width:50%;
    height:100%;
}
#sun
{
    border-radius:50%; 
    float:right; 
    padding-top:5px;
    margin-right:15px;
}
#tile
{
    width:100%;
    height:500px; 
}
#promote
{
    text-align:center;
    text-decoration: underline;
    text-decoration-color:#501710;
    margin-top:40px;
    font-weight:bold;
}
#item
{
    margin-top:20px;
    height:350px;
    width:280px;
}
#DivImg>img
{
    width:100%;
    height:180px;
    border-radius: 10%;
}
#partition
{
    width:100%;
    height:280px;
    border-top: 4px dotted red;
    border-bottom: 4px dotted red;
}
.covid
{
    width:50%;
    margin-left:5%;
    margin-top:30px;
    float:left;
}
#CovidStrip
{
    height:80%;
    width:100%;
}
.weather
{
    text-align:center;
    margin-left:60%;
    margin-top:30px;
    width:35%;
    height:80%;
}
#weatherOut
{
    color:crimson
}
#QuickSearch
{
    width:100%;
    display:inline-block;
    padding-left:1%;
}
#content
{
    width:260px;
    height:250px; 
    float:left;
    margin-top:2%;
    margin-left:2%;
}
#DivImage, #DivImg
{
    width:80%;
    height:200px;  
}
#DivImage > img
{
    width:100%;
    height:200px;
    border-radius:50%;
}
#DivDetail
{
    width:100%;
    height:160px;
    margin-top:5%;
    text-align: center;    
}
#DivDetail>a
{
    color:#C5A35A;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    font-weight: bold;
}
#review
{
    width:100%;
    height:550px;
    background-color:#e57a7a;
}
#tile1
{
    text-align:center;
    color:rgb(176, 12, 86);
    padding-top:12px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.desc
{
    width:95%;
    margin-left:4%; 
    padding-left:2%; 
    padding-top:10%; 
    margin-top:1%;
    height:400px;
    display:inline-block;
    background-color: pink;
    color:black;
}
#cardImg
{
    width:225px;
    height:225px;
}
#information
{
    height:150px;
    margin-top:4%;
}
#promotion
{
    margin-left:3%;
    height:100%;
    width:30%;
    float:left;
    margin-top:1%;
    text-align:center; 
}
#payment, #follow
{
    height:150px;
    width:100%;
}
#option
{
    height:100%;
    width:30%;
    float:left;
    margin-left:3%;
    text-align:center;
}
#operator
{
    font-size:60px;
    color:silver;
}
.footer
{
    height:350px;
    width:100%;
    text-align:center;
    background-color:#cc7c58;
    color:black;
}
#footer
{
    font-weight:bold;
    font-size:20px;
    padding-top: 1%;
}
#copy
{
    font-size:25px;
    line-height:.5;
    color:black;
}
#footDiv
{
    float:left;
    width:25%;
}          
.mydark
{
    background-color:black;
    color:white;
}