.row
{
    width:95%;
    margin-left:2.5%;
}
#containerMain
{
    width:47%;
    height:280px;
    float:left;
    margin-top:5%;
    margin-left:2.5%;
    margin-bottom:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border: 2px solid red; */
}
#tileContainer2{
    width:100%;
    height:100%;
    float:left;
    /* border:2px solid red; */
}
.frame
{
    color:#C5A35A;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    text-align: center;
}
#ProductImage
{
    width:30%;
    height:100%;
    margin-top:1%;
    /*border:2px solid blue;*/
    float:left;
    margin-left:2%;
}
#ProductImage>img{
    height:90%;
    width:100%;
    margin-top:5%;
    /* border:2px solid blue; */
}
#ProductContent
{
    text-align:left;
    color:black;
    font-size: 20px;
    /*border:2px solid yellow;*/
    width:65%;
    margin-left:35%;
    margin-top:2%;
}
#ProductContent > p
{
    line-height: 1;
}
.button
{
    /* border: 2px solid red; */
    width:60%;
    margin-left:30%;
    margin-top:3%;
}
.button>button{
    margin-left:1%;
    margin-right:1%;
}
.items
{
    border: 5px solid transparent;
    border-image: linear-gradient(to right, rgb(103, 65, 241), #ddc2cc);
    border-image-slice: 1;
    width:100%;
    margin-top:800px;
    text-align:center;

}
@media screen and (max-width:1280px)
{
    #containerMain
    {
        width:70%;
        margin-left:15%;
        margin-right:4%;
        height:280px;

    }
    .button
    {
        /* border: 2px solid red; */
        width:80%;
        margin-left:15%;
        margin-top:3%;
    }
    .items
    {
        margin-top:1400px;

    }
}