.row
{
    width:100%;
}
#container
{
    width:22%;
    height:500px;
    float:left;
    margin-left:2%;
}
#tileContainer1{
    width:85%;
    height:300px;
    float:left;
    margin-left:3.5%;
    margin-top:20px;
}
#ProductImage
{
    width:80%;
    margin-left:10%;
    height:80%;
    margin-top:10%;
    border:2px solid blue;
}
#ProductImage>img{
    height:100%;
    width:100%;
}
#ProductContent
{
    text-align:center;
    color:black;
    font-weight:bold;
    font-size: 16px;

}
