#QuickSearch
{
    width:100%;
    display:inline-block;
    padding-left:3%;
}
#content
{
    width:235px;
    height:250px; 
    float:left;
    margin-top:2%;
    margin-left:.5%;
}
#DivImage, #DivImg
{
    width:90%;
    height:200px;  
}
#DivImage > img
{
    width:100%;
    height:200px;
    border-radius:50%;
}
#DivDetail
{
    width:100%;
    height:160px;
    margin-top:5%;
    text-align: center;    
}
#DivDetail>a
{
    color:#C5A35A;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    font-weight: bold;
}
@media screen and (max-width:1000px)
{
    #content
    {
        width:40%;
        margin:5%;
        height:250px;
    }
}
@media screen and (min-width:1280px)
{
    #content
    {
        width:25%;
        margin-left:4%;
        margin-right:4%;
        height:250px;
    }
}